nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #003c6c;
    padding: 15px 30px;
}


.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}


.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.hero {
    text-align: center;
    margin-top: 100px;
}


.hero h1 {
    font-size: 50px;
}


.hero p {
    font-size: 20px;
    max-width: 700px;
    margin: 20px auto;
}

.button {
    display: inline-block;

    padding: 12px 30px;

    background-color: #003c6c;
    color: white;

    text-decoration: none;
    border-radius: 8px;
}