<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlugSpots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
</head>
<body>
    <nav>
    <div class="logo">
        <a href="/">SlugSpots</a>
    </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/map">Map</a>
            {% if current_user.is_authenticated %}
            <span class="nav-greeting">Hi, {{ current_user.username }}</span>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </nav>
    <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p class="flash flash-{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endwith %}

    {% block content %}

    {% endblock %}
    </main>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>