{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<section class="hero">

    <h1>Discover the Best Study Spots at UCSC</h1>

    <p>Community-powered reviews, photos, and ratings to help you find the perfect place to study.</p>

    <a class="button" href="/map">Explore Map</a>

</section>

<!-- Features Section -->
<section class="features">

    <h2>Why Use SlugSpots?</h2>

    <!-- feature cards here -->
    <div class="feature-container">
        <div class="feature-card">
            <h3>📸 Student Photos</h3>
            <p>See what study spots actually look like.</p>
        </div>

        <div class="feature-card">
            <h3>⭐ Ratings & Reviews</h3>
            <p>Find the highest-rated places to study.</p>
        </div>
        <div class="feature-card">
            <h3>🗺️ Interactive Campus Map</h3>
            <p>Discover new locations across UCSC.</p>
        </div>
    </div>
     

</section>
{% endblock %}