{% extends "base.html" %}

{% block content %}

<section class="map-page">

    <h1>Interactive UCSC Map</h1>

    <p>Discover the best places to study around campus.</p>

    <div id="map"></div>

    <div id="spot-sheet" class="spot-sheet hidden">

        <div class="sheet-handle"></div>

        <button id="close-info">✖</button>

        <h2 id="spot-title"></h2>

        <p id="spot-rating"></p>

        <div id="spot-tags"></div>

        <h3>Photos</h3>

        <p>Coming Soon...</p>

    </div>

</section>

{% endblock %}