{% extends "base.html" %}

{% block content %}

<section class="map-page">

    <h1>Interactive UCSC Map</h1>

    <p>Discover the best places to study around campus.</p>

    <!-- Category filter -->
    <div class="filter-bar">
        <button class="filter-btn active" data-category="all">All</button>

        <button class="filter-btn" data-category="library">📚 Libraries</button>

        <button class="filter-btn" data-category="cafe">☕ Cafes</button>

        <button class="filter-btn" data-category="nature">🌳 Nature</button>

        <button class="filter-btn" data-category="computer lab">💻 Computer Labs</button>

        <button id="clear-filters">✖ Clear Filters</button>

    </div>

    <!-- Tags Filter -->
    <div class="tag-filter-bar">

        <button class="tag-btn" data-tag="WiFi">📶 WiFi</button>

        <button class="tag-btn" data-tag="Outlets">🔌 Outlets</button>

        <button class="tag-btn" data-tag="Quiet">🤫 Quiet</button>

        <button class="tag-btn" data-tag="Food">🍔 Food</button>

        <button class="tag-btn" data-tag="Study Rooms">📚 Study Rooms</button>

    </div>

    <div id="map"></div>    

    <div id="spot-sheet" class="spot-sheet hidden">

        <div class="sheet-handle"></div>

        <button id="close-info">✖</button>

        <h2 id="spot-title"></h2>

        <p id="spot-rating"></p>

        <p id="spot-likes"></p>
        <button id="like-button">👍 Like</button>

        <div id="spot-tags"></div>

        <p id="spot-description"></p>

        <div id="spot-images"></div>

    </div>

</section>

{% endblock %}